<div class="detail-section">
  <div class="container-fluid" *ngIf="product">
    <img src="{{ product.imageUrl }}" class="detail-img" />

    <h3>{{ product.name }}</h3>

    <div class="price">{{ product.unitPrice | currency : "USD" }}</div>

    <button class="btn btn-primary btn-sm mt-2" (click)="addToCart()">
      Add to cart
    </button>

    <hr />
    <h4>Description</h4>
    <p>{{ product.description }}</p>

    <hr />
    <a routerLink="/product" class="btn btn-primary">Back to products</a>
  </div>
</div>
