# Compiled class files
/backend/**/*.class

# Log files
*.log

# BlueJ files
/backend/**/*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
/backend/.mtj.tmp/

# Package files
/backend/**/*.jar
/backend/**/*.war
/backend/**/*.nar
/backend/**/*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Node.js
/frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
/frontend/dist/
/frontend/out-tsc/
/frontend/*.ngfactory.ts
/frontend/*.ngsummary.json

# IDEs and editors
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS
.DS_Store

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db

# Spring Boot
/backend/target/
*.war
*.ear

# IntelliJ
/.idea
*.iws
*.iml
*.ipr
/backend/out/

# Eclipse
/.project
/.classpath
/.c9/
/.settings/
/bin/
/tmp/

/backend/.project
/backend/.classpath
/backend/.c9/
/backend/.settings/
/backend/bin/
/backend/tmp/

/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/.settings/
/frontend/bin/
/frontend/tmp/

# STS
/.apt_generated
/.classpath
/.factorypath
/.project
/.settings
/.springBeans

/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans

# VS Code
/.vscode/
/frontend/.vscode/
/backend/.vscode/

# MySQL
/backend/*.sql
/backend/*.db
