# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
dist/
out-tsc/
*.ngfactory.ts
*.ngsummary.json

# IDEs and editors
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MacOS
.DS_Store

# Thumbnails
._*

# Windows
Thumbs.db
ehthumbs.db

# Spring Boot
target/
*.war
*.ear

# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/

# Eclipse
.project
.classpath
.c9/
.settings/
bin/
tmp/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# VS Code
.vscode/

# MySQL
*.sql
*.db