<div class="login-status-header">
  <div
    *ngIf="isAuthenticated && userFullName"
    class="login-status-header user-info"
  >
    Welcome back, {{ userFullName }}!
  </div>

  <button
    *ngIf="!isAuthenticated"
    routerLink="/login"
    class="btn btn-secondary"
  >
    Login
  </button>

  <button *ngIf="isAuthenticated" (click)="logout()" class="btn btn-secondary">
    Logout
  </button>

  <button
    *ngIf="isAuthenticated"
    routerLink="/members"
    class="btn btn-secondary ml-5"
  >
    Member
  </button>
</div>
